<div class="right-top"><p>奖品介绍</p></div>
<ul class="products">
	<li>
    <img src=<%= image_path('g1.png') %> />
		<p>一等奖</p>
		<p> Mac 电脑</p>

		<ul>
			<li>震撼音效，精致小巧震撼音效，精致小巧</li>
			<li>持久续航，放心去听震撼音效，精致小巧</li>
			<li>防撞防刮，轻便省力省力防刮，轻便省力省</li>
		</ul>			
	</li>

	<li>
    <img src=<%= image_path('g2.png') %> style="height: 200px;width: inherit;" />
		<p>二等奖</p>
		<p> IPhone 手机</p>		
		<ul>
			<li>震撼音效，精致小巧震撼音效，精致小巧</li>
			<li>持久续航，放心去听震撼音效，精致小巧</li>
			<li>防撞防刮，轻便省力防刮，轻便省力省省力防</li>
		</ul>			
	</li>

	<li>
    <img src=<%= image_path('g3.png') %> />		
		<p>三等奖</p>
		<p>Bose Micro音箱</p>
		<ul>
			<li>震撼音效，精致小巧震撼音效，精致小巧</li>
			<li>持久续航，放心去听震撼音效，精致小巧</li>
			<li>防撞防刮，轻便省力防刮，轻便省力省省力</li>
		</ul>			
	</li>	 		
</ul>
