<div class="shouye">
	<div class='left'>
	  <h3>2018 新华三IT技术知识竞<br />现场抽奖</h3>

	 	<div class='shishi'>
	 	 	<span>当前参与人数：</span>
	 	 	<span>1000人</span>
	 	</div>

	 	<ul class=choujiang-info>
	 		<li>
	 			<p>一等奖</p>
	 			<span>1名</span>
	 		</li>

	 		<li>
	 			<p>二等奖</p>
	 			<span>4名</span>
	 		</li>

	 		<li>
	 			<p>三等奖</p>
	 			<span>8名</span>
	 		</li>	 		
	 	</ul>
	</div>
	<div class="right">
		<img src=<%= image_path('mobile.png') %>
	</div>
	<div class="clearfix"></div>
</div>